{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
      .container {
          display: grid;
          place-items: center;
          height: 80vh;
      }

      .streaming-logo {
          font-family: "Bebas Neue", sans-serif;
          font-size: 50px;
          margin-bottom: 20px;
          color: #ED151E;
      }

      .container-box {
          max-width: 500px;
          width: 100%;
          padding: 40px;
          border-radius: 20px;
          background-color: #141414;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          place-items: center;
          display: grid;
      }

      .custom-btn,
      .register-btn {
          width: 100%;
          max-width: 150px;
          padding: 10px;
          border-radius: 10px;
          text-align: center;
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          color: white;
      }

      .custom-btn {
          background-color: #ED151E;
          border: 1px solid #ED151E;
          margin-bottom: 15px;
      }

      .register-btn {
          background-color: #141414;
          border: 1px solid #ED151E;
      }

      .custom-btn:hover {
          background-color: #cc1218;
          border-color: #cc1218;
          color: white;
          text-decoration: none;
      }

      .register-btn:hover {
          background-color: #141414;
          border-color: #ED151E;
          color: white;
          text-decoration: none;
      }
  </style>
</head>
<body>
    <div class="container">
        <div class="container-box">
            <div class="streaming-logo">PACILFLIX - A6</div>
            <a href="{% url 'accounts:form_login' %}" class="custom-btn">Masuk</a>
            <a href="{% url 'accounts:form_register' %}" class="register-btn">Daftar</a>
        </div>
    </div>

</body>
{% endblock content %}
