{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
<style>
    /* Konten Container */
    .container {
        margin-top: 50px;
    }

    /* Input Pencarian */
    .input-group {
        width: 100%;
        margin-bottom: 20px;
        flex-grow: 1;
    }

    /* Opsi Top 10 */
    .btn-primary {
        margin-right: 10px;
        background-color: #ED151E;
        border-color: #ED151E;
    }

    .div-table {
        justify-content: center;
    }

    /* Tabel Tayangan Terbaik */
    table {
        max-width: 600px;
        margin: 0 auto;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-radius: 10px; /* Mengatur sudut ujung tabel */
        overflow: hidden; /* Menghindari overflow dari border-radius */
    }

    th, td {
        padding: 10px;
        border: 2px solid #f2f2f2;
        text-align: center;
        font-family: 'Roboto';
        max-width: 200px; /* Menentukan lebar maksimum untuk sel dalam tabel */
        overflow: hidden;
        text-overflow: ellipsis; /* Mengatur teks yang melebihi lebar maksimum agar dipotong dengan titik-titik */
        white-space: nowrap; /* Mencegah teks untuk melompat ke baris baru */
    }

    th {
        background-color: #f2f2f2;
        vertical-align: top;
    }

    td {
        color: #f2f2f2;
        text-align: left;
    }

    /* Modal */
    .modal-dialog {
        max-width: 800px;
    }

    h1, h2, h3 {
        color: #ED151E;
        font-family: 'Bebas Neue', sans-serif;
        text-align: center;
    }

    h3 {
        color: #f2f2f2;
        margin-top: 20px;
    }

    .episode-container {
        display: flex;
        flex-wrap: wrap; /* Mengizinkan item-item episode untuk melompat ke baris baru jika lebar layar tidak mencukupi */
        margin-bottom: 20px;
        margin-top: 20px;
        justify-content: center;
    }

    .episode-item {
        flex: 0 0 auto; /* Item episode tidak akan meregang dan memiliki lebar minimum */
        margin-right: 10px; /* Jarak antara setiap item episode */
        margin-bottom: 10px; /* Jarak antara baris episode */
    }

    .btn-episode {
        background-color: #ED151E;
        border-color: #ED151E;
        color: #fff;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn-episode:hover {
        background-color: #ba0d14;
        border-color: #ba0d14;
    }

    .btn-episode.disabled {
        background-color: #7a7a7a; /* Warna latar belakang untuk tombol yang dinonaktifkan */
        border-color: #7a7a7a;
        cursor: not-allowed;
        pointer-events: none; /* Mencegah interaksi pengguna pada tombol yang dinonaktifkan */
    }

    .btn-episode.disabled:hover {
        background-color: #7a7a7a; /* Pastikan efek hover tidak mengubah warna */
        border-color: #7a7a7a;
    }

    /* Gaya untuk slider dan teks progres */
    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        color: #f2f2f2;
    }

    .slider-wrapper {
        width: 100%;
        max-width: 600px;
    }

    #progress-slider {
        width: 100%;
        margin-right: 10px;
    }

    #progress-value {
        min-width: 50px;
        text-align: left;
    }

    #watchButton {
        margin-left: 20px;
    }

</style>

<body>
    <div class="container mt-5">
        <h1>HALAMAN EPISODE</h1>
    
        <!-- Judul Series -->
        <h2>{{ episode.judul_tayangan }}</h2>
        <h2>{{ episode.sub_judul }}</h2>
    
        <!-- Progress slider -->
        <div class="slider-container">
            <div class="slider-wrapper">
                <label for="progress-slider">Progres Menonton:</label>
                <input type="range" id="progress-slider" name="progress-slider" min="0" max="{{ episode.durasi_series }}" value="0" oninput="updateSliderValue(this.value, '{{ episode.durasi_series }}')">
                <span id="progress-value">0%</span>
            </div>
            <button type="button" class="btn btn-episode" id="watchButton" onclick="watchShow('{{ episode.id_tayangan }}', document.getElementById('progress-slider').value);">Tonton</button>
        </div>
    
        <!-- Kumpulan Episode -->
        <h3>EPISODE LAINNYA</h3>
        <div class="episode-container">
            {% for eps in episode.kumpulan_episode %}
                <div class="episode-item">
                    {% if eps.sub_judul == episode.sub_judul %}
                        <span class="btn btn-episode disabled">{{ eps.sub_judul }}</span>
                    {% else %}
                        <a href="{% url 'tayangan:episode_select' episode.id_tayangan eps.sub_judul %}" class="btn btn-episode">{{ eps.sub_judul }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    
        <!-- Tombol-->
        <div class="mb-3 d-flex justify-content-center">
            <button type="button" class="btn btn-primary me-2">Unduh Tayangan</button>
            <button type="button" class="btn btn-primary">Jadikan Favorit</button>
        </div>
    
        <div class="div-table">
            <!-- Tabel Data Series -->
            <table class="film-table">
                <tbody>
                    <tr>
                        <th>Sinopsis Episode</th>
                        <td>{{ episode.sinopsis_episode }}</td>
                    </tr>
                    <tr>
                        <th>Durasi Episode</th>
                        <td>{{ episode.durasi_episode }}</td>
                    </tr>
                    <tr>
                        <th>URL Episode</th>
                        <td>{{ episode.url_episode }}</td>
                    </tr>
                    <tr>
                        <th>Tanggal Rilis Episode</th>
                        <td>{{ episode.tanggal_rilis_episode }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>

<script>
    function updateSliderValue(value, duration) {
        var progressValue = document.getElementById("progress-value");
        var percentage = (value / duration) * 100;
        // console.log("Menit Film:", value);
        progressValue.textContent = percentage.toFixed(2) + "%";
    }

    function watchShow(idTayangan, durasiTonton) {
        // console.log(idTayangan)
        const url = "{% url 'tayangan:tonton' episode.id_tayangan %}";
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify({
                id_tayangan: idTayangan,
                durasi_tonton: durasiTonton
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                console.log("Tonton berhasil disimpan ke riwayat.");
                location.reload();
            } else {
                console.error("Gagal menyimpan tonton ke riwayat.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>


{% endblock content %}
